<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
            <% if @item.medium_image!="" %>
              <%=image_tag @item.medium_image.gsub('?_ex=128x128', '')  %>
            <% else %>
              <%= image_tag("no-image.png" , alt: @item.title) %>
            <% end %>
        </div>
      </div>
      <div class="title">
        <% #TODO 商品タイトル %>
        <%= @item.title %>
      </div>
      <%= render 'action' , item: @item %>
    </div>
    <div class="item-single-side">
      <div class="side-box">
        <h4 class="side-box-title">Haveしたユーザー</h4>
        <div class="side-box-body">
          <% # TODO Haveしたユーザー一覧 %>
              <% @item.have_users.each do | have_user | %>
                <%= link_to user_path(have_user) do %>
                    <span class="gravatar"><%= gravatar_for have_user , size: 20 %></span>
                <% end %>
                <%= have_user.name %>
              <% end %>
        </div>
      </div>
      <div class="side-box">
        <h4 class="side-box-title">Wantしたユーザー</h4>
        <div class="side-box-body">
          <% # TODO Wantしたユーザー一覧 %>
              <% @item.want_users.each do | want_user | %>
                <span class="gravatar">
                    <%= gravatar_for want_user , size: 20 %>
                </span>
                <%= want_user.name %>
              <% end %>
        </div>
      </div>
      <div class="text-center">
        <% #TODO 正しいリンク先に %>
          <%= link_to('楽天詳細ページへ', @item.detail_page_url) %>
      </div>
    </div>
  </div>
</div>
